.App {
  text-align: center;

}

.App-logo {

  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min: height 20vh;
  max-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #7abcff;
  margin-bottom: 20px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input[name="genericInput"] {
  padding: 10px;
  font-size: 18px;
  border: 2px solid #7abcff;
  border-radius: 4px;
  margin-right: 10px;
  outline: none;
  transition: border-color 0.3s ease;
}


button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #7abcff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* .weather-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 30px; 
  padding: 20px;
  max-width: 800px;
  margin: 50px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  text-transform: capitalize; 
}

.weather-card img {
  width: 100px;
  height: 100px;
}

.weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 15px;
}

.weather-info h2 {
  font-size: 22px;
  margin: 0;
 
}

.weather-info p {
  font-size: 20px;
  margin: 0;
} */
* {
  box-sizing: border-box;
  font-family: 'Helvetica Light', 'Helvetica', Arial, sans-serif;
  font-weight: lighter;
  text-transform: capitalize;
  color: white;
}

html, body, .wrapper {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.wrapper {
  margin: 20px;
}

.weather {
  position: relative;
  height: 275px;
  width: 400px;
  background: radial-gradient(ellipse at center, #7abcff 0%, #60abf8 44%, #4096ee 100%);
  border-radius: 10px;
  top: calc(50% - 125px);
  left: calc(50% - 200px);
  border: 3px solid #FFFFFF;
  padding: 10px 20px;
}

.city h1 {
  padding: 0;
  margin: 5px 0px;
  text-align: center;
  font-size: 11pt;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: normal;
}

.icon {
  width: 50%;
  height: auto;
  float: left;
  padding: 2px;
  margin: 2px 0;
  position: relative;
}

img {
  height: 30vmin;
}

.temp {
  width: 50%;
  float: left;
  padding: 10px;
  color: #FFFFFF;
  margin: 5px 0;
}

.current {
  font-size: 30pt;
  text-align: center;
  font-weight: lighter;
}

.clearfix {
  clear: both;
  width: 100%;
  border-top: 3px solid #FFFFFF;
  position: relative;
  top: -10px;
}

.date {
  text-align: center;
  position: relative;
  top: -30px;
  color: #FFFFFF;
  font-size: 18pt;
}